parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$array \(list\<non\-falsy\-string\>\) to function array_filter does not contain falsy values, the array will always stay the same\.$#'
			identifier: arrayFilter.same
			count: 2
			path: src/Installer.php

		-
			message: '#^Parameter \#1 \$string of function trim expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Installer.php

		-
			message: '#^Parameter \#1 \$yamlContent of static method NowoTech\\ComposerUpdateHelper\\Installer\:\:extractPackagesFromYamlIgnoreSection\(\) expects string, string\|false given\.$#'
			identifier: argument.type
			count: 3
			path: src/Installer.php

		-
			message: '#^Parameter \#2 \$string of function explode expects string, string\|false given\.$#'
			identifier: argument.type
			count: 4
			path: src/Installer.php

		-
			message: '#^Parameter \#1 \$array \(list\<non\-falsy\-string\>\) to function array_filter does not contain falsy values, the array will always stay the same\.$#'
			identifier: arrayFilter.same
			count: 2
			path: src/Plugin.php

		-
			message: '#^Parameter \#1 \$string of function trim expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Plugin.php

		-
			message: '#^Parameter \#1 \$yamlContent of method NowoTech\\ComposerUpdateHelper\\Plugin\:\:extractPackagesFromYamlIgnoreSection\(\) expects string, string\|false given\.$#'
			identifier: argument.type
			count: 3
			path: src/Plugin.php

		-
			message: '#^Parameter \#2 \$string of function explode expects string, string\|false given\.$#'
			identifier: argument.type
			count: 4
			path: src/Plugin.php
