# Slim
/vendor/
/node_modules/
/tmp/
/cache/

# Environment
.env
.env.local
.env.*.local
.phpunit.result.cache

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Supervisor
supervisord.log
supervisord.pid

# Composer Update Helper
generate-composer-require.sh
generate-composer-require.ignore.txt

